/* Reset de estilos para garantir uma base limpa */

body, h1, h2, h3, p, ol, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilizando o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.coin-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Reduzimos o tamanho da imagem */
    height: 50px; /* Reduzimos o tamanho da imagem */
    border-radius: 50%; /* Arredondamos a imagem */
}

/* Estilizando a lista de criptomoedas */
.crypto-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: flex-start; /* Alinhar no início verticalmente */
}

.crypto-item {
    width: calc(33.33% - 20px); /* 3 colunas por linha com espaço entre elas */
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.crypto-item:hover {
    transform: translateY(-5px);
}

.crypto-info {
    text-align: left;
    padding-left: 20px;
}

.crypto-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.crypto-info p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.crypto-info p:last-child {
    margin-bottom: 0;
}
